/* Universal Styles */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html body {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  top: 4rem;
}
.container {
  padding: 0 1.5rem;
  min-height: 4rem;
}

.container-media {
  margin: 2rem 1.5rem 2rem 0;
  width: 60%;
}
